.mobile-selector {
  background-color: #bdcbde;
  height: 100%;

  .mobile-selector-title {
    background-color: #316194;
    color: #fff;

    h2 {
     margin: 10px 0 10px;
    }
  }

  .mobile-selector-list {
    padding: 10px 0;
  }
}